body {
    background-image: url(../img/tło\ głowne.webp);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

body {
    margin: 0;
    backdrop-filter: blur(10px) brightness(55%);
    -webkit-backdrop-filter: blur(10px) brightness(55%);
}

figure {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.615);
    padding: 20px;
    overflow: auto;
    border-radius: 12px;
    position: relative;
}

figcaption {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 80px;
}

img {
    float: left;
    padding-bottom: 50px;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 100px;
    text-align: center;
    margin-top: 0%;
}

div {
    background-color: rgba(0, 0, 0, 0.615);
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 12px;
}
