body {
    background-image: url(img/R.png);
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(10px) brightness(55%);
    margin: 0;
    height: 100%;
}

h1 {
    text-align: center;
}

section {
    padding-bottom: 15px;
    position: relative;
    border-radius: 12px;
    padding: 1rem;
    color: aliceblue;
}

.div-1 {
    background-color: rgba(0, 0, 0, 0.615);
    padding-bottom: 15px;
    position: relative;
    border-radius: 12px;
    padding: 1rem;
    color: aliceblue;
}

.Baner {
    position: relative;
    width: 100%;
    border: 2px solid rgba(63, 2, 2, 0.808)
}

table {

    border-spacing: 10px;
    border-collapse: collapse;

    caption-side: top;
    table-layout: fixed;
    empty-cells: hide
}

#tabela-1 {
    margin-bottom: 5vh;
}

td,
th {
    border: 2px solid rgb(0, 0, 0);
    margin: 0px;
    padding: 10px;
    vertical-align: middle;
    empty-cells: hide;

}

#tabela-2 {
    border-spacing: 0px;
    border-collapse: collapse;
    caption-side: top;
    table-layout: fixed;
    empty-cells: hide;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    margin-left: 15px;
}

h3 {
    margin-left: 10px;
}
