body {
    background-image: url(img/R.png);
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
    backdrop-filter: blur(10px) brightness(55%);
    margin: 0;
    height: 100%;
}

h1 {
    text-align: center;
}

.div-1 {
    background-color: rgba(0, 0, 0, 0.615);
    padding-bottom: 15px;
    position: relative;
    border-radius: 12px;
    padding: 1rem;
    color: aliceblue;
}

section {
    padding-bottom: 15px;
    position: relative;
    border-radius: 12px;
    padding: 1rem;
    color: aliceblue;
}

.Baner {
    position: relative;
    width: 100%;
    border: 2px solid rgba(63, 2, 2, 0.808)
}

table {

    border-spacing: 10px;
    border-collapse: collapse;

    caption-side: top;
    table-layout: fixed;
    empty-cells: hide
}

#tabela-1 {
    margin-bottom: 5vh;
}

td,
th {
    border: 2px solid rgb(0, 0, 0);
    margin: 0px;
    padding: 10px;
    vertical-align: middle;
    empty-cells: hide;

}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    margin-left: 15px;
    margin-top: 5px;
}

h3 {
    margin-left: 10px;
}

h4 {
    margin-left: 10px;
    margin: 5px;
    padding-left: 10px;
}

figure.g{
    margin: 5px;
}

figure.g img{
    width: 100%;
    height: auto;
}

figure.g.height{
    width: 71.1%;
}

picture>div{
    flex-direction: row;
    align-self: center;
    justify-self: center;
    list-style: none;
    list-style-position: none;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 70%;
}

.center{
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
    text-align: center;
    display: flex;
}

picture{
    display: flex;
    flex-flow: row;
    flex-direction: row;
    align-self: center;
    align-content: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    margin:2vh 0 ;
    max-width: 60%;
}

div.col{
    flex-direction: column;
    display: flex;
}